<form action="/spots/add/<%= @lead_id %>" method="post">
  <label for="scheduled_at">Time (UTC time)</label>
  <input type="datetime-local" id="scheduled_at" name="scheduled_at" />
  <label for="course">Choose course</label>
  <select for="courses" name="course_id">
    <% @courses.each do |course| %>
      <option value="<%= course[:id] %>"><%= course[:course_name] %></option>
    <% end %>
  </select>
  <button type="submit">Schedule a spot</button>
</form>