[x] Finished feature

[x] Make sure leads have some key to validate before sign up
-> temporary key: super_secret_lead

[x] Same thing with students
-> temporary key: super_secret_student

[] Key validation is a feature needed to be fixed in the future
-> can someone hack by sending data in correct forms and know how 
the sign-up forms are designed
-> place the key in the databse
-> maybe create an admin account, only admin can get into 
to modify database (change key, etc...)

[x] Password is required

[ ] Learn rspec and add testing

[] Password needs confirmation (enter password second time)

[] Reinforce all unique constraint when people sign up as leads and/or students

[] Handle data (backend and front end) that violates constraints

[] Implement database interactions

[] Implement authorization for students and leads
  [x] implement for leads
  [ ] implement for students 
[] Implement authentification for studetns and leads
  [x] implement for leads
  [ ] implement for students

[] Add the ability for the leads to delete the spot
[] Add the ability for the leads to edit the spot
[] Automatically delete a spot from database after the schedule?