<form action="/students/signup" method="post">
  <input type="text" name="slack_name" placeholder="Slack name without @" required />
  <input type="text" name="name" placeholder="Your name (Optional)" />
  <input type="text" name="username" placeholder="Username" />
  <input type="password" name="password" />
  <button type="submit">Sign up</button>
</form>