<p>Please proceed with the key given to you by the leads from the spot group.</p>

<form action="/students/signup_validation" method="post">
  <input type="password" name="signup_student_password" />
  <button type="submit">Sign up</button>
</form>