Welcome lead. Below is your registered spots.

<% if @lead_spots.empty? %>
  <p>You have no spot available at the moment.</p>
<% else %>
    <p>You have the following sesions:</p>
  <% @lead_spots.each do |spot| %>
    <p><%= spot.course_name %> at <%= spot.scheduled_at %></p>
  <% end %>
<% end %>
<a href="/spots/add/<%= @lead_id %>">Add a spot</a>

<form action="/signout" method="post">
  <button type="submit">Log out</button>
</form>
