<p>Please proceed with the key given to you by the admin</p>

<form action="/leads/signup_validation" method="post">
  <input type="password" name="signup_lead_password" />
  <button type="submit">Sign up</button>
</form>