<ul>
  <li><a href="/leads/signup_validation">Sign up as a lead</a></li>
  <li><a href="/students/signup_validation">Sign up as a student</a></li>
  <li><a href="/leads/login">Log in as a lead</a></li>
  <li><a href="/students/login">Log in as a student</a></li>
</ul>