<section id="" >

  <header>
    <h1><%= "Welcome #{user.username}!"  %></h1>
      <h3>These are your current sessions:</h3>
      <ul>
        <li>
          <% @spots.each do |spot| %>
            <%= spot.course.name %>
          <% end %>
        </li>
      </ul>
     <h3>These are all of the sessions:</h3>
      <ul>
        <li>
          <% @all_spots.each do |spot| %>
            <%= spot.course.name %>
          <% end %>
        </li>
      </ul>
      <h3>These are the sessions you've attended:</h3>
      <ul>
        <li>
          <% @previous_spots.each do |spot| %>
            <%= spot.course.name %>
          <% end %>
        </li>
      </ul>
  </header>


</section>