<!DOCTYPE html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />  

    <title>Spot Schedule</title>
  </head>
  <body>
    <% if session[:error] %>
      <div class="flash-error">
        <p><%= session.delete(:error) %></p>
      </div>
    <% end %>

    <% if session[:success] %>
      <div class="flash-success">
        <p><%= session.delete(:success) %></p>
      </div>
    <% end %>

    <%= yield %>

  </body>
</html>